*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}


.container {
    margin: 75px 0 0 240px;
    background-color: lightgrey;
}

.row {
    height: 500px;
    width: 800px;
    background-color: #0366d6;
}

.title {
    justify-content:center;
    margin: 20px;
    padding-left: 15px;
    background-color: beige;
   
}

.input-group {
    width: 770px;
    
}


