*,
*:before,
*:after {
    margin: 0;
    padding: 0;
/*    overflow: hidden;*/
    background-color: lightgrey;
    font-family: Courier New, Courier, monospace;
    font-size: 13px;
}


.container {
    margin: auto;
    margin-top: 30px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    background-color: lavender;
}

.title-1 {
    margin-top: 10px;
    background-color: lavender;
    font-size: 18px;
}

.logout {
    font-size: 15px;
}

.container-2 {
    margin: auto;
    margin-top: 6px;
    width: 70%;
}

.row {
    height: 400px;
    width: 800px;
    margin: auto;
    overflow: scroll;
    overflow-x: hidden;
}

.col-2 {
    background-color: #F0FFF0;
    border-right: dashed grey 1px;
}

.title {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    background-color: #F0FFF0;
    font-weight: bold;
}

.input-group {
    margin: auto;
    width: 800px;
    margin-top: 5px;    
}

.btn {
   background-color: lavender;
}

.signup {
    background-color: #F0FFF0;
    font-weight: bold;
    font-style: italic;
}

.close-button {
    background-color: lavender;
    border-color: lavender;
    border-radius: 3px;
    width: 20px;
    right: 300px;
}

label {
    text-transform: uppercase;
    font-weight: bold;
}

.user {
   background-color: #F0FFF0;
}

.userName {
    background-color: #F0FFF0;
    text-transform: uppercase;
}

.message {
    display: flex;
    justify-content: flex-start;

}

.col-8 {
    padding: 13px;
  
}

.msg-user {
    padding-right: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

.msg-msg {
    overflow-wrap: break-word;
    padding-right: 25px;
}


.msg-date {
    padding-right: 25px;
    font-size: 10px;
    color: grey;
}

.container-3 {
    margin: auto;
    margin-top: 70px;
    width: 50%;
}

.login{
    margin-top: 70px;
    width: 53%;
    background-color: lightgray;
}

.col-4 {
    background-color: #F0FFF0;
}

.col-8 {
    background-color: lightblue;
}

form {
    background-color: #F0FFF0;
}

.form-group {
    background-color: #F0FFF0;
}

label {
    background-color: #F0FFF0;
}

.or {
    background-color: #F0FFF0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: #F0FFF0;
    width: 35%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.channel-column {
    background-color: lightblue;
}


.channel {
    width: 70px;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #F0FFF0;
    border-color: #F0FFF0;
}

.buttons {
    background-color: lightblue;
    width: 70px;
}

.channels {
    background-color: lightblue;
}